body {

}

.container {
    width: 450px;    
    margin: 0 auto;
}

.container h1 {
    text-align: center;
}
    

.campo {
    padding: 10px;
}

.campo input[type="text"] {
    float: right;
    width: 350px;
}

.campo input[title="Cadastrar"] {
    float: right;
}
